.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  background-color: #222222;
  color: whitesmoke;
  height: 3em;
}

footer {
  background-color: #222222;
  color: whitesmoke;
  height: 3em;
}

.canvas-container {
  position: relative;
  height: 2000px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
}
